.header {
    display: flex;
    justify-content: center;
    height: 9.3125rem;
}

nav.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav-item {
    font-size: 14px;
    font-weight: 600;
}

.header__nav-link {
    color: #052460;
}

.header__nav-link:hover {
    text-decoration: underline;
}