:root {
  --primary-color: #052460;
  --secondary-color: #595959;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  margin: 7rem 0;
}

.column-heading {
  max-width: 290px;
}

.blog__intro-heading {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.blog__intro-description {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}

.blog__intro-description p:nth-of-type(1) {
  padding-bottom: 1rem;
}

.post__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: #f7f7f7;
  margin-bottom: 35px;
}

.post-body {
  display: flex;
  max-width: 1080px;
  width: 100%;
  background: rgb(32, 167, 193);
  height: 406px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 50%;
  }

  .img-post {
    width: 50%;
    background-size: cover;
    /* cobrir todo o campo */
    background-position: center;
    /* centralizar a imagem */

    @media (max-width: 768px) {
      width: 100%;
      height: 350px;
    }
  }

  .content-post {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 35px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 17px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(#23427e, #052460 50%);
      color: #ffffff;
      font-size: 0.9907rem;
      text-transform: uppercase;
      font-weight: 600;
      font-style: normal;
      height: 2.5rem;
      width: 11.875rem;
      border-radius: 3px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    a:hover {
      background: #146071;
      color: #ffffff;
    }
  }
}
